# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# DuckDB
*.duckdb
*.wal

# Data files
data/raw/
data/processed/
data/parquet/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment variables
.env